@import "mixins";

$color-fondo: #fff;

#razonamiento-verbal, .razonamiento-verbal {
  max-width: 750px;
  padding: 20px;
  margin: 0 auto;
  background: $color-fondo;
  min-height: 470px;
  @include box-shadow(10px 10px rgba(0, 0, 0, 0.2));
  .header {
    background: #3498db;
    padding: 20px;
    margin: -20px;
    h1 {
      color: #fff;
    }
  }
  h1, p {
    color: #7f8c8d;
  }
  .title {
    color: #7f8c8d;
  }
  .img-lg {
    width: 380px;
    height: 200px;
  }
  .img-md {
    width: 380px;
    height: 150px;
  }
  .img-xg {
    width: 400px;
    height: 350px;
  }
  .lista-respuestas {
    display: inline-block;
    // margin: 20px;
    input, label {
      display: inline-block;
      color: #fff;
      text-transform: uppercase;
    }
    md-label {
      color: #7f8c8d !important;
    }
  }
}

.navigation-quiz {
  .cubes {
    //position: fixed;
    bottom: 10px;
    .cube-btn, .cube {
      md-tooltip, .tooltip-text {
        span {
          font-size: 25px;
        }
      }
    }

    .cube-btn {
      height: 30px;
      width: 40px;
      display: inline-block;
      margin: 0.5px;
      cursor: pointer;
      background: #3498db;
      color: #fff;
      font-size: 15px;
      padding-top: 5px;
    }
    .cube {
      width: 24px;
      height: 30px;
      background-color: #1abc9c;
      display: inline-block;
      margin: 0.5px;
      cursor: pointer;
      padding-top: 5px;
      @include border-radius(1px);
      color: #fff;
      font-size: 15px;
    }
    .cube.current {
      background-color: #e67e22;
    }
  }
}

$answers-text-color: #34495e !important;
.type-answers{
  min-width: 300px;
  max-width: 550px;
  width: 100%;
  display: block;
  margin: 15px 0;
  input {
    min-width: 300px;
    width: 100%;
    margin: 3px 0;
    color: $answers-text-color;
  }
  textarea {
    min-width: 300px;
    width: 100%;
    resize: vertical;
    color: $answers-text-color;
  }
  input[type='text'] {
  }
  input[type='date'] {
    max-width: 170px;
    min-width: 160px;
    //font-size: 18px;
  }
  input[type='number'] {
    max-width: 170px;
    min-width: 160px;
    //font-size: 18px;
  }
  input[type='time'] {
    max-width: 170px;
    min-width: 160px;
    //font-size: 18px;
  }
}

.type-answers.left {
  text-align: left;
  input{
    text-align: left;
  }
}

.type-answers.center {
  text-align: center;
  margin: 0 auto;
  input{
    text-align: center;
  }
}

.type-answers.right {
  text-align: right;
  input{
    text-align: right;
  }
}
