<div class="pT40"></div>
<div id="razonamiento-verbal" class="">
  <div class="header">
    <h1>
      Razonamiento verbal {{minutos}}:{{segundos}}
    </h1>
  </div>
  <hr>
  <section data-ng-repeat="pregunta in currentTest" data-ng-show="pregunta_actual == $index">
    <h2 ng-bind-html="pregunta.pregunta" class="title"></h2>
    <figure data-ng-show="pregunta.imagen" class="text-center">
      <img ng-src="images/evaluaciones/razonamiento_verbal/{{pregunta.imagen}}"
           ng-class="pregunta.imgClass? pregunta.imgClass: 'img-md'">
    </figure>
    <div class="text-center">
      <div data-ng-repeat="inciso in pregunta.incisos" class="lista-respuestas text-left btn-block">
        <md-radio-group ng-model="data.group1">
          <md-radio-button value="{{inciso.inciso}}" class="md-primary">{{inciso.inciso}}) {{inciso.opcion}}
          </md-radio-button>
        </md-radio-group>
      </div>
    </div>
  </section>
</div>
<div class="container navigation-quiz pT40">
  <section class="cubes text-center">
    <figure class="cube-btn" data-ng-click="setPregunta(pregunta_actual - 1)">
      <<
      <md-tooltip class="tooltip-text">
        Anterior
      </md-tooltip>
    </figure>
    <figure data-ng-repeat="pregunta in currentTest"
            class="cube"
            data-ng-class="pregunta_actual == $index ? 'current':''"
            data-ng-click="setPregunta($index)">
      {{$index + 1}}
      <md-tooltip class="tooltip-text">
        {{pregunta.pregunta}}
      </md-tooltip>
    </figure>
    <figure class="cube-btn" data-ng-click="setPregunta(pregunta_actual + 1)">
      >>
      <md-tooltip class="tooltip-text">
        Siguiente
      </md-tooltip>
    </figure>
  </section>
</div>
<script type="text/ng-template" id="razonamientoVerbalModal.html">
  <md-dialog aria-label="Mango (Fruit)"  ng-cloak>
    <form>
      <md-toolbar>
        <div class="md-toolbar-tools">
          <h2>Lea atentamente las instrucciones</h2>
          <span flex></span>
          <md-button class="md-icon-button" ng-click="cancel()">
            <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
          </md-button>
        </div>
      </md-toolbar>
      <md-dialog-content style="max-width:800px;max-height:810px;">
        <div class="md-dialog-content">
          <img style="margin: auto; max-width: 100%;" alt="EMI" src="images/emi.jpg" width="200" class="center">
          <p>
            Debe completar las preguntas en el tiempo establecido, una vez finalizado el tiempo se enviaran las respuestas automaticamente
          </p>
        </div>
      </md-dialog-content>
      <div class="md-actions" layout="row">
        <span flex></span>
        <md-button ng-click="answer('useful')" style="margin-right:20px;" >
          Aceptar
        </md-button>
      </div>
    </form>
  </md-dialog>
</script>
