<div class="pT40"></div>
<div id="razonamiento-verbal" class="">
  <div class="header">
    <h1>
      Razonamiento verbal {{tiempo_restante }}
    </h1>
  </div>
  <hr>
  <section data-ng-repeat="pregunta in preguntas" data-ng-show="pregunta_actual == $index">
    <h2 ng-bind-html="pregunta.pregunta" class="title"></h2>
    <figure data-ng-show="pregunta.imagen" class="text-center">
      <img ng-src="images/evaluaciones/razonamiento_verbal/{{pregunta.imagen}}"
           ng-class="pregunta.imgClass? pregunta.imgClass: 'img-md'">
    </figure>
    <div class="text-center">
      <div data-ng-repeat="inciso in pregunta.incisos" class="lista-respuestas text-left btn-block">
        <md-radio-group ng-model="data.group1">
          <md-radio-button value="{{inciso.inciso}}" class="md-primary">{{inciso.inciso}}) {{inciso.opcion}}
          </md-radio-button>
        </md-radio-group>
      </div>
    </div>
  </section>
</div>
<div class="container navigation-quiz pT40">
  <section class="cubes text-center">
    <figure class="cube-btn" data-ng-click="setPregunta(pregunta_actual - 1)">
      <<
      <md-tooltip>
        Anterior
      </md-tooltip>
    </figure>
    <figure data-ng-repeat="pregunta in preguntas"
            class="cube"
            data-ng-class="pregunta_actual == $index ? 'current':''"
            data-ng-click="setPregunta($index)">
      {{$index + 1}}
      <md-tooltip>
        {{pregunta.pregunta}}
      </md-tooltip>
    </figure>
    <figure class="cube-btn" data-ng-click="setPregunta(pregunta_actual + 1)">
      >>
      <md-tooltip>
        Siguiente
      </md-tooltip>
    </figure>
  </section>
</div>
<script type="text/ng-template" id="razonamientoVerbalModal.html">
  <div class="modal-header text-center">
    <h2 class="modal-title">Instrucciones</h2>
  </div>
  <div class="modal-body">
    <ul>
      <li>Instruccion 1 razon verbal</li>
      <li>Instruccion 2</li>
      <li>Instruccion 3</li>
      <li>Instruccion 4</li>
      <li>Instruccion 4</li>
      <li>Instruccion 4</li>
      <li>Instruccion 4</li>
      <li>Instruccion 4</li>
      <li>Instruccion 4</li>
      <li>Instruccion 4</li>
    </ul>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="ok()">Aceptar</button>
  </div>
</script>
