<ng-include src="'views/includes/public_menu.html'"></ng-include>
<div id="answer">


  <div class="container" style="background: #fff">
    <br>
    <h2 class="pull-left">{{form.name}}</h2>

    <div class="pull-right" data-ng-show="list_answer.length > 0">
      Buscar:
      <div class="m10">
        <input class="form-control" ng-model="searchName">
      </div>
    </div>
    <br>
    <span class="clearfix"></span>
    <div class="row text-center pT20" data-ng-show="list_answer.length == 0">
      <i>No se han encontrado respuestas</i>
    </div>
    <table class="table table-bordered table-striped" data-ng-show="list_answer.length > 0">
      <thead>
      <tr>
        <th>N</th>
        <th>Estudiante</th>
        <th>Carnet</th>
        <th>Semestre</th>
        <th>Tiempo</th>
        <th>Fecha</th>
        <th>Respuestas</th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="answers in list_answer | filter:searchName" ng-show="answers.form== form.id">
        <td>{{$index+1}}</td>
        <td>
          <img ng-src="{{answers.owner.image}}" class="inline-block"
               style="width: 50px;height: 40px;border-radius: 40%">

          <p class="inline-block">{{answers.owner.info.first_name+' '+answers.owner.info.last_name}}
          </p>
        </td>
        <td>{{answers.owner.info.ci}}</td>
        <td>{{answers.owner.student.semester +' '+answers.owner.student.parallel}}</td>
        <td>{{answers.time +' Segundos'}}</td>
        <td>{{(answers.created_at).split('T')[0]}}</td>
        <td><a href="" data-ng-click="show_answers(answers.owner.id, form_id, answers.owner)">Ver resultado</a></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
