<div class="pT40"></div>
<div data-ng-show="statusForm === 1">
  <section class="ctnr">
    <div class="ldr">
      <div class="ldr-blk"></div>
      <div class="ldr-blk an_delay"></div>
      <div class="ldr-blk an_delay"></div>
      <div class="ldr-blk"></div>
    </div>
  </section>
</div>
<div data-ng-show="statusForm === 2">
  <div id="razonamiento-verbal" class="razonamiento-verbal rel">

    <div class="menu-content-eval fixed" style="max-width: 150px;right: 20px">
      <button class="btn btn-info btn-block" data-ng-click="finishTest()">
        Enviar
        <span class="glyphicon glyphicon-send"></span>
      </button>
    </div>

    <div class="header">
      <h1 class="text-center" data-ng-bind="form.name"></h1>
      <figure class="clock position" data-ng-bind="seconds | timeFormatting"></figure>
    </div>
    <hr>
    <div class="flex">
      <section data-ng-repeat="question in Questions" data-ng-show="current_question == $index">
        <h4 ng-bind-html="question.question" class="title"></h4>
        <figure data-ng-show="question.show_image" class="left">
          <img data-ng-src="{{question.image_url}}"
               data-ng-class="question.img_class ? question.img_class: 'img-md'">
        </figure>
        <div class="text-center">
          <div type-answer data-ng-model="question.answer" question="question" class="type-answers left"></div>
        </div>
      </section>
    </div>
  </div>

  <div class="container navigation-quiz pT40">
    <section class="cubes text-center">
      <figure class="cube-btn" data-ng-click="setQuestion(current_question - 1)"> <<</figure>
      <figure data-ng-repeat="question in Questions" class="cube"
              data-ng-class="current_question == $index ? 'current':''"
              data-ng-click="setQuestion($index)"> {{$index + 1}}
        <md-tooltip class="tooltip-text">
        <span ng-bind-html="question.question">
        </md-tooltip>
      </figure>
      <figure class="cube-btn" data-ng-click="setQuestion(current_question + 1)"> >></figure>
    </section>
  </div>
</div>
<div data-ng-show="statusForm === 3">
  <div class="container p20">
    <p class="bg-danger" style="    border: 1px red solid;border-radius: 10px;padding: 30px;">
      El cuestionario no esta diponible..<br>
    <a href="#Formulario/list"> Volver a lista de formularios</a>
    </p>
  </div>
</div>

<!-- Razonamiento Verbal-->
<script type="text/ng-template" id="razonamientoVerbalModal.html">
  <md-dialog aria-label="Mango (Fruit)" ng-cloak>
    <form>
      <md-toolbar>
        <div class="md-toolbar-tools">
          <h2>Lea atentamente las instrucciones</h2>
          <span flex></span>
          <md-button class="md-icon-button" ng-click="cancel()">
            <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
          </md-button>
        </div>
      </md-toolbar>
      <md-dialog-content style="max-width:800px;max-height:810px;">
        <div class="md-dialog-content">
          <img src="images/emi.jpg" style="margin: auto; max-width: 100%;" alt="EMI" width="200" class="center">
          <p>
            <br/>
            Debe completar las preguntas en el tiempo establecido, una vez finalizado el tiempo se enviaran las respuestas automaticamente y debe seleccionar solo una opción como respuesta.
            <br/>
            Su tarea consiste en encontrar las palabras que faltan de modo que,:cuanddo se haya completado, la relación entre la primera y la segunda parte de cada frase sea semejante y la frase resulte verdadera y consentido.
            Para ello ha de elegir entre los 5 pares de palabras que se proponen como opciones de respuesta. La primera palabra del par debe ir al principio de la frase y la segunda al final.
            Cuando haya elegido el par, que, a su juicio, completa mejor la frase.
            <br/><br/>
            Fíjese el Ejemple E1:
          </p>
          <img src="images/ejemplo1.jpg" />
            <p>
            Para elegir Ia respuesta correcta al ejemplo E1, examine atentamente cada par de palabras.
              <br/>
            Sólo uno de esos pares completará la frase de modo que los dos términos de la primera parte se relacionen entre sí de forma análoga a como se relacionan los de la segunda.
              <br/>
            La respuesta A es incorrecta porque ladrar y maullar no se relacionan de la "misrna manera que perro y cachorro.
              <br/>
            Lo mismo puede decirse de las respuestas D y E Tampoco la respuesta C es buena, porque aunque el gato maúlla y el pero muerde, las acciones son de distinto tipo.
              <br/>
            La respuesta correcta es la B, porque gato y maullar se relacionan de modo semejante a como lo hacen perro y ladrar.
              <br/>
            Por eso, frente al Ejemplo E1 se ha de seleccionar la opción B.
          </p>
        </div>
      </md-dialog-content>
      <div class="md-actions" layout="row">
        <span flex></span>
        <md-button ng-click="answer('useful')" style="margin-right:20px;">
          Aceptar
        </md-button>
      </div>
    </form>
  </md-dialog>
</script>

<!-- Raxonamiento numérico
<script type="text/ng-template" id="razonamientoVerbalModal.html">
  <md-dialog aria-label="Mango (Fruit)" ng-cloak>
    <form>
      <md-toolbar>
        <div class="md-toolbar-tools">
          <h2>Lea atentamente las instrucciones</h2>
          <span flex></span>
          <md-button class="md-icon-button" ng-click="cancel()">
            <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
          </md-button>
        </div>
      </md-toolbar>
      <md-dialog-content style="max-width:800px;max-height:810px;">
        <div class="md-dialog-content">
          <img src="images/emi.jpg" style="margin: auto; max-width: 100%;" alt="EMI" width="200" class="center">
          <p>
            <br/>
            Debe completar las preguntas en el tiempo establecido, una vez finalizado el tiempo se enviaran las respuestas automaticamente y debe seleccionar solo una opción como respuesta.
            <br/>
            Esta prueba intenta comprobar su capacidad para razonar con los números. Lea cada ejercicio y posibles respuestas que se ofrecen y decida cuál de ellas es la mejor.Si necesita hacer cálculos,utilice la hoja en blanco, pero no use calculadora.
            <br/><br/>
            Fíjese en el Ejemplo El:
          </p>
          <img src="images/ejemplo2.jpg" />
          <p>
            En el Ejemplo El la respuesta correcta es 10 porque es el número que sigue al 8 en la secuencia. Por eso, se selecciona
              la opción B.
          </p>
        </div>
      </md-dialog-content>
      <div class="md-actions" layout="row">
        <span flex></span>
        <md-button ng-click="answer('useful')" style="margin-right:20px;">
          Aceptar
        </md-button>
      </div>
    </form>
  </md-dialog>
</script>
-->

<!-- Raxonamiento abstracto
<script type="text/ng-template" id="razonamientoVerbalModal.html">
  <md-dialog aria-label="Mango (Fruit)" ng-cloak>
    <form>
      <md-toolbar>
        <div class="md-toolbar-tools">
          <h2>Lea atentamente las instrucciones</h2>
          <span flex></span>
          <md-button class="md-icon-button" ng-click="cancel()">
            <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
          </md-button>
        </div>
      </md-toolbar>
      <md-dialog-content style="max-width:800px;max-height:810px;">
        <div class="md-dialog-content">
          <img src="images/emi.jpg" style="margin: auto; max-width: 100%;" alt="EMI" width="200" class="center">
          <p>
            <br/>
            En esta prueba se trata de apreciar la capacidad para razonar con figuras o dibujos. En cada
            fila hay cuatro figuras llamadas PROBLEMA y cinco llamadas RESPUESTA. Las figuras PROBLEMA
            forman una serie porque están ordenadas siguiendo una ley. Su tarea consiste en elegir,
            entre las figuras RESPUESTA, la que debiera ir a continuación (es decir, la que serÍa la número
            cinco de la serie).
            <br/><br/>
            Fíjese en el Ejemplo El:
          </p>
          <img src="images/ejemplo3.jpg" />
          <p>
          En el Ejemplo E1 puede ver que Ia flecha gira 90°, en ei sentido de las agujas del reloj, de un recuadro a otro. ¿Cuál debería ser la próxima figura (la número cinco) de la serie?
            <br/>
            La respuesta correcta es A porque la posición siguiente de la flecha debería ser vertical hacia arriba.
            <br/>
            Por eso, se selecciona el recuadro que está debajo de la A.
          </p>
        </div>
      </md-dialog-content>
      <div class="md-actions" layout="row">
        <span flex></span>
        <md-button ng-click="answer('useful')" style="margin-right:20px;">
          Aceptar
        </md-button>
      </div>
    </form>
  </md-dialog>
</script>
-->



<!-- Raxonamiento mecánico
<script type="text/ng-template" id="razonamientoVerbalModal.html">
  <md-dialog aria-label="Mango (Fruit)" ng-cloak>
    <form>
      <md-toolbar>
        <div class="md-toolbar-tools">
          <h2>Lea atentamente las instrucciones</h2>
          <span flex></span>
          <md-button class="md-icon-button" ng-click="cancel()">
            <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
          </md-button>
        </div>
      </md-toolbar>
      <md-dialog-content style="max-width:800px;max-height:810px;">
        <div class="md-dialog-content">
          <img src="images/emi.jpg" style="margin: auto; max-width: 100%;" alt="EMI" width="200" class="center">
          <p>
            <br/>
            En esta prueba hay un cierto número de dibujos sobre los cuales se hacen algunas preguntas.
            <br/>
            Lea atentamente cada pregunta, observe la figura o figuras y elija cuál de las tres respuestas A,
            B o C, es Ia mejor.
            <br/><br/>
            Fíjese en el Ejemplo El:
          </p>
          <img src="images/ejemplo4.jpg" />
          <p>
          El Ejemplo E1 presenta dos dibujos que parecen similares; pero tienen una pequeña diferencia:
          en el dibujo A la pala golpea la parte inferior de la pelota y en el B, la parte superior.
          <br/>
          La pelota A subirá más porque la pala la golpea desde abajo. Por eso, la respuesta será letra A en la línea que corresponde al Ejemplo E1.
          </p>
        </div>
      </md-dialog-content>
      <div class="md-actions" layout="row">
        <span flex></span>
        <md-button ng-click="answer('useful')" style="margin-right:20px;">
          Aceptar
        </md-button>
      </div>
    </form>
  </md-dialog>
</script>
-->


<!-- Relaciones Espaciales
<script type="text/ng-template" id="razonamientoVerbalModal.html">
  <md-dialog aria-label="Mango (Fruit)" ng-cloak>
    <form>
      <md-toolbar>
        <div class="md-toolbar-tools">
          <h2>Lea atentamente las instrucciones</h2>
          <span flex></span>
          <md-button class="md-icon-button" ng-click="cancel()">
            <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
          </md-button>
        </div>
      </md-toolbar>
      <md-dialog-content style="max-width:800px;max-height:810px;">
        <div class="md-dialog-content">
          <img src="images/emi.jpg" style="margin: auto; max-width: 100%;" alt="EMI" width="200" class="center">
          <p>
            <br/>
            En cada uno de ellos se presenta un modelo o patrón en
            el que algunas zonas están sombreadas y en otras aparecen pequeños dibujos. Ala derecha de cada
            modelo se ofrecen cuatro figuras de tres dimensiones. Su tarea consiste en averiguar cuál de esas
            frguras es la única que ha podido formarse a partir del modelo. Éste siempre presenta la parte
            exterior de la figura.
            <br/><br/>
            Fíjese en el Ejemplo El:
          </p>
          <img src="images/ejemplo5.jpg" />
          <p>
          En el Ejemplo El el modelo formará un caja rectangular con ]as dos caras mayores y una de
          las pequeñas laterales sombreadas. Fíjese en las respuestas A, B, C y D. Las respuestas A y C son
          incorrectas porque la cara superior no está sombreada. La respuesta B, tampoco es correcta porque
          tiene sombreados uno de los laterales largos.
          <br/>
          La respuesta correcta es D porque Ia cara superior y uno de los laterales cortos están sombreados.
          La cara inferior está oculta a la vista. Por eso,se selecciona la letra D.
          </p>
        </div>
      </md-dialog-content>
      <div class="md-actions" layout="row">
        <span flex></span>
        <md-button ng-click="answer('useful')" style="margin-right:20px;">
          Aceptar
        </md-button>
      </div>
    </form>
  </md-dialog>
</script>
-->


<!-- Ortografía
<script type="text/ng-template" id="razonamientoVerbalModal.html">
  <md-dialog aria-label="Mango (Fruit)" ng-cloak>
    <form>
      <md-toolbar>
        <div class="md-toolbar-tools">
          <h2>Lea atentamente las instrucciones</h2>
          <span flex></span>
          <md-button class="md-icon-button" ng-click="cancel()">
            <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
          </md-button>
        </div>
      </md-toolbar>
      <md-dialog-content style="max-width:800px;max-height:810px;">
        <div class="md-dialog-content">
          <img src="images/emi.jpg" style="margin: auto; max-width: 100%;" alt="EMI" width="200" class="center">
          <p>
            <br/>
            En esta prueba se presentan grupos de cuatro palabras entre las cuales hay una que está
            mal escrita. Su tarea consiste en descubrir cuál es la palabra en la que intencionadamente se ha
            cometido una falta de ortografía.
            <br/><br/>
            Fíjese en el Ejemplo El:
          </p>
          <img src="images/ejemplo6.jpg" />
          <p>
          En el Ejemplo E1, la palabra benébolo no está escrita correctamente; debía haberse escrito
          benévolo. Por eso, frente al Ejemplo E1, se selecciona la opción B.
          </p>
        </div>
      </md-dialog-content>
      <div class="md-actions" layout="row">
        <span flex></span>
        <md-button ng-click="answer('useful')" style="margin-right:20px;">
          Aceptar
        </md-button>
      </div>
    </form>
  </md-dialog>
</script>
-->