<div class="menu-content-eval fixed" style="max-width: 150px">
  <button class="btn btn-info btn-block">
    <span class="glyphicon glyphicon-user"></span> {{currentUser.name}}
  </button>

  <a href="#/">
    <button class="btn btn-info btn-block">
      <span class="glyphicon glyphicon-backward"></span>
      Regresar
    </button>
  </a>
</div>
<div id="evaluaciones" class="full-min center-block pT40 pB80" ng-show="currentUser.tipo_usuario == 2">
  <h1 class="mT40">Evaluaciones</h1>

  <div class="container text-center pT20">
    <hr>
    <hr>
    <p class="text-center mT20">Elija la evaluacion a realizar</p>

    <div class="col-xs-12 col-md-2 text-center mT20" data-ng-repeat="evaluacion in evaluaciones">
      <a href data-ng-click="selectEvaluacion(evaluacion, $index)" class="lista_evaluaciones">
        <img ng-src="images/{{evaluacion.imagen}}">

        <h2>{{evaluacion.nombre}}</h2>

        <p>{{evaluacion.descripcion}}</p>
      </a>
    </div>
  </div>
</div>


<div class="evaluaciones_admin" ng-show="currentUser.tipo_usuario == 1" style="max-width: 1100px;padding: 50px;margin: 0 auto">
  <div class="modal-content">
    <div class="modal-body">
      <h1>Lista de estudiantes</h1>

      <h3>Respuestas a los test</h3>
      <table class="table table-bordered">
        <thead>
        <tr>
          <th>#</th>
          <th>Estudiante</th>
          <th>Test de Razonamiento verbal</th>
          <th>Test de Razonamiento numerico</th>
          <th>Test de Razonamiento abstracto</th>
          <th>Test de Razonamiento mecanico</th>
          <th>Test de Relaciones Espaciales</th>
          <th>Test de Ortografia</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="respuesta in respuestas_rv">
          <th>{{respuesta.users.nombre+' '+respuesta.users.ap_paterno}}</th>
          <th><span class="glyphicon glyphicon-check">
            <md-tooltip>
              {{respuesta.updated_at}}
            </md-tooltip>
          </span></th>
          <th><span class="glyphicon glyphicon-unchecked"></span></th>
          <th><span class="glyphicon glyphicon-unchecked"></span></th>
          <th><span class="glyphicon glyphicon-unchecked"></span></th>
          <th><span class="glyphicon glyphicon-unchecked"></span></th>
          <th><span class="glyphicon glyphicon-unchecked"></span></th>
          <th><span class="glyphicon glyphicon-unchecked"></span></th>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
