<div id="evaluaciones" class="full-min center-block pT40 pB80">
  <div class="menu-content-eval fixed" style="max-width: 150px">
    <button class="btn btn-info btn-block">
      <span class="glyphicon glyphicon-user"></span> Eyvind Emilio
    </button>

    <a href="#/">
      <button class="btn btn-info btn-block">
      <span class="glyphicon glyphicon-backward"></span>
      Regresar
    </button>
    </a>
  </div>

  <h1 class="mT40">Evaluaciones</h1>

  <div class="container text-center pT20">
    <hr><hr>
    <p class="text-center mT20">Elija la evaluacion a realizar</p>
    <div class="col-xs-12 col-md-2 text-center mT20" data-ng-repeat="evaluacion in evaluaciones">
      <a href data-ng-click="selectEvaluacion(evaluacion, $index)" class="lista_evaluaciones">
        <img ng-src="images/{{evaluacion.imagen}}">
        <h2>{{evaluacion.nombre}}</h2>
        <p>{{evaluacion.descripcion}}</p>
      </a>
    </div>
  </div>
</div>
