<div class="fix-header" id="home">
    <div class="w-container">
        <div class="w-nav" data-collapse="medium" data-animation="default" data-duration="400"></div>
    </div>
</div>
<div class="fixed-header">
    <div class="w-container container">
        <div class="w-row">
            <!--///////////////////////////////////////////////////////
            // Logo section
            //////////////////////////////////////////////////////////-->
            <div class="w-col w-col-3 logo">
                <a href="#"><img class="logo" src="images/emi.jpg" alt="Psicologia"></a>
            </div>
            <!--///////////////////////////////////////////////////////
           // End Logo section
           //////////////////////////////////////////////////////////-->

            <div class="w-col w-col-9">
                <!--///////////////////////////////////////////////////////
                // Menu section
                //////////////////////////////////////////////////////////-->
                <div class="w-nav navbar" data-collapse="medium" data-animation="default" data-duration="400"
                     data-contain="1">
                    <div class="w-container nav">
                        <nav class="w-nav-menu nav-menu" role="navigation">

                            <a class="w-nav-link menu-li" href="#home">INICIO</a>
                            <a class="w-nav-link menu-li" href="#about">DAT-5</a>
                            <a class="w-nav-link menu-li" href="#service">ESTUDIANTES</a>
                            <a class="w-nav-link menu-li" href="#portfolio">GABINETE</a>
                            <a class="w-nav-link menu-li" href="#team">TEAM</a>
                            <a class="w-nav-link menu-li" href="#contact">CONTACTO</a>
                        </nav>
                        <div class="w-nav-button">
                            <div class="w-icon-nav-menu"></div>
                        </div>
                    </div>
                </div>
                <!--///////////////////////////////////////////////////////
             // End Menu section
             //////////////////////////////////////////////////////////-->
            </div>
        </div>
    </div>
</div>

<!--///////////////////////////////////////////////////////
     //  Slider section
     //////////////////////////////////////////////////////////-->

<div class="slidersection">
    <div class="sp-slideshow">

        <input id="button-1" type="radio" name="radio-set" class="sp-selector-1" checked="checked"/>
        <label for="button-1" class="button-label-1"></label>

        <input id="button-2" type="radio" name="radio-set" class="sp-selector-2"/>
        <label for="button-2" class="button-label-2"></label>

        <input id="button-3" type="radio" name="radio-set" class="sp-selector-3"/>
        <label for="button-3" class="button-label-3"></label>

        <input id="button-4" type="radio" name="radio-set" class="sp-selector-4"/>
        <label for="button-4" class="button-label-4"></label>

        <input id="button-5" type="radio" name="radio-set" class="sp-selector-5"/>
        <label for="button-5" class="button-label-5"></label>

        <label for="button-1" class="sp-arrow sp-a1"></label>
        <label for="button-2" class="sp-arrow sp-a2"></label>
        <label for="button-3" class="sp-arrow sp-a3"></label>
        <label for="button-4" class="sp-arrow sp-a4"></label>
        <label for="button-5" class="sp-arrow sp-a5"></label>

        <div class="sp-content">
            <div class="sp-parallax-bg"></div>
            <ul class="sp-slider clearfix">
                <li><img src="images/slider/slider1.jpg" alt="image01"/></li>
                <li><img src="images/slider/slider2.png" alt="image02"/></li>
                <li><img src="images/slider/slider3.jpg" alt="image03"/></li>
                <li><img src="images/slider/slider4.jpg" alt="image04"/></li>
                <li><img src="images/slider/slider5.jpg" alt="image05"/></li>
            </ul>
        </div>
        <!-- sp-content -->

    </div>
    <!-- sp-slideshow -->
</div>

<!--///////////////////////////////////////////////////////
       // End slider section
       //////////////////////////////////////////////////////////-->

<!--///////////////////////////////////////////////////////
       // About section  Dat 5
       //////////////////////////////////////////////////////////-->

<div class="about-parlex" id="about">
    <section class="parlex7-back">
        <div class="w-container">
            <div id="about-animation">
                <div class="wrap">
                    <div class="about">
                        <h1 class="about-heading">TEST DAT-5</h1>

                        <div class="about-text">Prueba Psicológica</div>
                        <div class="sepreater"></div>
                    </div>
                    <p class="about-des">La Escuela Militar de Ingeniería, realiza el Test de Aptitudes Diferenciales
                        (DAT), los cuales pretenden medir la capacidad de los estudiantes para adquirir conocimientos o
                        para actuar eficazmente en un cierto número
                        de áreas tales como las del pensamiento mecánico, pensamiento verbal y el pensamiento abstracto.
                    </p>
                    <img class="about-img" src="images/dat.jpg" alt="52de15aa5d3566c14300015e_about.png">
                </div>
            </div>
        </div>
    </section>
</div>

<!--///////////////////////////////////////////////////////
       // End about section DAT5
       //////////////////////////////////////////////////////////-->

<!--///////////////////////////////////////////////////////
       // Service section ESTUDIANTE
       //////////////////////////////////////////////////////////-->

<section class="service-parlex" id="service">
    <section class="parlex-back">
        <div class="w-container">
            <div class="wrap">
                <div class="service-combo">
                    <div class="services">
                        <h1 class="service-heading">ESTUDIANTES</h1>

                        <div class="services-text">Acceso al Test</div>
                        <div class="sepreater service"></div>
                    </div>
                </div>
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                            <h1 class="text-center">Logueo</h1>
                        </div>
                        <div class="modal-body">
                            <form class="form col-md-12 center-block" action="#/evaluaciones.html">
                                <div class="form-group">
                                    <input type="text" class="form-control input-lg" placeholder="Usuario">
                                </div>
                                <div class="form-group">
                                    <input type="password" class="form-control input-lg" placeholder="Contraseña">
                                </div>
                                <div class="form-group">
                                    <button class="btn btn-primary btn-lg btn-block">Sign In</button>
                                    <br/>
                                    <span class="pull-right"><a href="#">Registrarse</a></span>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <div class="col-md-12">
                                <br/>
                                <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>

<!--///////////////////////////////////////////////////////
       // End Service section ESTUDIANTE
       //////////////////////////////////////////////////////////-->

<!--///////////////////////////////////////////////////////
       // Porfolio section  GABINETE
       //////////////////////////////////////////////////////////-->

<div class="portfolio-parlex" id="portfolio">
    <div class="parlex3-back">
        <div class="w-container">
            <div class="wrap">
                <div class="portfolio">
                    <h1 class="portfolio-heading">GABINETE</h1>

                    <div class="portfolio-text">GABINETE DE PSICOLOGÍA</div>
                    <div class="sepreater"></div>
                </div>
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                            <h1 class="text-center">Logueo</h1>
                        </div>
                        <div class="modal-body">
                            <form class="form col-md-12 center-block">
                                <div class="form-group">
                                    <input type="text" class="form-control input-lg" placeholder="Usuario">
                                </div>
                                <div class="form-group">
                                    <input type="password" class="form-control input-lg" placeholder="Contraseña">
                                </div>
                                <div class="form-group">
                                    <button class="btn btn-primary btn-lg btn-block">Sign In</button>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <div class="col-md-12">
                                <br/>
                                <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<!--///////////////////////////////////////////////////////
       // End Porfolio section GABINETE
       //////////////////////////////////////////////////////////-->

<!--///////////////////////////////////////////////////////
       // Our-plan section
       //////////////////////////////////////////////////////////-->

<!--///////////////////////////////////////////////////////
       // End Our-Plan section
       //////////////////////////////////////////////////////////-->

<!--///////////////////////////////////////////////////////
       // Team section
       //////////////////////////////////////////////////////////-->

<div class="team-parlex" id="team">
    <div class="parlex5-back">
        <div class="w-container">
            <div class="wrap">
                <div class="team">
                    <h1 class="team">TEAM</h1>

                    <div class="sepreater team-sep"></div>
                </div>
                <div class="team-text">
                    <p class="team-text-para">Somos el equipo que desarrollo el Sistema de Test de Aptitudes
                        Diferenciales DAT-5.&nbsp;
                        <br>Se trabajó continuamente para el Gabinete de Psicología.</p>
                </div>
                <div class="w-row team-member">
                    <div class="w-col w-col-4">
                        <div class="team-section">
                            <div class="team-image">
                                <img class="team-img" src="images/team/judy.jpg"
                                     alt="52dd1e57e64ce6cb200004f3_image1.png">
                            </div>
                            <div class="team-des">
                                <h4 class="team-name">JUDY QUISPE</h4>

                                <div class="team-name-des">Estudiante</div>
                            </div>
                            <div class="team-social">
                                <div class="w-clearfix social-section">
                                    <a href="https://www.facebook.com/"><img class="social"
                                                                             src="images/social/Facebook.png"
                                                                             alt="52dd249c929b601f5400054c_Facebook.png"></a>
                                    <a href="https://www.twitter.com/"><img class="social"
                                                                            src="images/social/Twitter.png"
                                                                            alt="52dd24f2929b601f54000551_Twitter.png"></a>
                                    <a href="https://www.linkedin.com/"><img class="social"
                                                                             src="images/social/Linkedin.png"
                                                                             alt="52dd2672e64ce6cb2000053a_Linkedin.png"></a>
                                    <a href="https://plus.google.com/"><img class="social"
                                                                            src="images/social/Google-plus.png"
                                                                            alt="52dd26a55b54031d540005af_Google-plus.png"></a>
                                    <a href="https://www.rss.com/"><img class="social" src="images/social/RSS.png"
                                                                        alt="52dd26d25b54031d540005b4_RSS.png"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="w-col w-col-4">
                        <div class="team-section">
                            <div class="team-image">
                                <img class="team-img" src="images/team/yury.jpg"
                                     alt="52dd1edfe64ce6cb200004fb_image2.png">
                            </div>
                            <div class="team-des">
                                <h4 class="team-name">YURY ORTUÑO</h4>

                                <div class="team-name-des">Estudiante</div>
                            </div>
                            <div class="team-social">
                                <div class="w-clearfix social-section">
                                    <a href="https://www.facebook.com/"><img class="social"
                                                                             src="images/social/Facebook.png"
                                                                             alt="52dd249c929b601f5400054c_Facebook.png"></a>
                                    <a href="https://www.twitter.com/"><img class="social"
                                                                            src="images/social/Twitter.png"
                                                                            alt="52dd24f2929b601f54000551_Twitter.png"></a>
                                    <a href="https://www.linkedin.com/"><img class="social"
                                                                             src="images/social/Linkedin.png"
                                                                             alt="52dd2672e64ce6cb2000053a_Linkedin.png"></a>
                                    <a href="https://plus.google.com/"><img class="social"
                                                                            src="images/social/Google-plus.png"
                                                                            alt="52dd26a55b54031d540005af_Google-plus.png"></a>
                                    <a href="https://www.rss.com/"><img class="social" src="images/social/RSS.png"
                                                                        alt="52dd26d25b54031d540005b4_RSS.png"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="w-col w-col-4">
                        <div class="team-section">
                            <div class="team-image">
                                <img class="team-img" src="images/team/inge.jpg"
                                     alt="52dd1efcad165eca20000539_image3.png">
                            </div>
                            <div class="team-des">
                                <h4 class="team-name">CLAUDIA YAÑIQUEZ</h4>

                                <div class="team-name-des">Ingeniera</div>
                            </div>
                            <div class="team-social">
                                <div class="w-clearfix social-section">
                                    <a href="https://www.facebook.com/"><img class="social"
                                                                             src="images/social/Facebook.png"
                                                                             alt="52dd249c929b601f5400054c_Facebook.png"></a>
                                    <a href="https://www.twitter.com/"><img class="social"
                                                                            src="images/social/Twitter.png"
                                                                            alt="52dd24f2929b601f54000551_Twitter.png"></a>
                                    <a href="https://www.linkedin.com/"><img class="social"
                                                                             src="images/social/Linkedin.png"
                                                                             alt="52dd2672e64ce6cb2000053a_Linkedin.png"></a>
                                    <a href="https://plus.google.com/"><img class="social"
                                                                            src="images/social/Google-plus.png"
                                                                            alt="52dd26a55b54031d540005af_Google-plus.png"></a>
                                    <a href="https://www.rss.com/"><img class="social" src="images/social/RSS.png"
                                                                        alt="52dd26d25b54031d540005b4_RSS.png"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--///////////////////////////////////////////////////////
       // End Team section
       //////////////////////////////////////////////////////////-->

<!--///////////////////////////////////////////////////////
       // Clients section
       //////////////////////////////////////////////////////////-->

<!--///////////////////////////////////////////////////////
       // End Clients section
       //////////////////////////////////////////////////////////-->

<!--///////////////////////////////////////////////////////
       // Contact section
       //////////////////////////////////////////////////////////-->

<div class="contact-parlex" id="contact">
    <div class="parlex8-back">
        <div class="w-container">
            <div class="wrap">
                <div class="contact-div">
                    <h1 class="contact-heading">CONTACTO</h1>

                    <div class="sepreater"></div>
                </div>
            </div>
        </div>
        <div class="w-container">
            <div class="w-row contact-col">
                <div class="w-col w-col-4 contact-col1">
                    <div>
                        <div class="hi-icon-wrap hi-icon-effect-5 hi-icon-effect-5a">
                            <a href="#set-5" class="hi-icon hi-icon-earth">Partners</a>
                        </div>
                        <h4 class="contact-col-head">Visitanos</h4>
                    </div>
                    <div>
                        <div class="contact-col-text">Gabinete Psicologia, Playón
                            <br>Irpavi, La Paz
                        </div>
                    </div>
                </div>
                <div class="w-col w-col-4 contact-col2">
                    <div>
                        <div class="hi-icon-wrap hi-icon-effect-5 hi-icon-effect-5a">
                            <a href="#set-5" class="hi-icon hi-icon-mail">Partners</a>
                        </div>
                        <h4 class="contact-col-head">Escribenos</h4>
                    </div>
                    <div>
                        <div class="contact-col-text">general: lapaz@adm.emi.edu.bo
                            <br>support: support@adm.emi.edu.bo
                        </div>
                    </div>
                </div>
                <div class="w-col w-col-4 contact-col3">
                    <div>
                        <div class="hi-icon-wrap hi-icon-effect-5 hi-icon-effect-5a">
                            <a href="#set-5" class="hi-icon hi-icon-mobile">Partners</a>
                        </div>
                        <h4 class="contact-col-head">Llamanos</h4>
                    </div>
                    <div>
                        <div class="contact-col-text-bar-last">P: 2775536
                            <br>F: 2799505
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--///////////////////////////////////////////////////////
       // End Contact section
       //////////////////////////////////////////////////////////-->

<!--///////////////////////////////////////////////////////
       // Footer section
       //////////////////////////////////////////////////////////-->

<div class="footer-parlex">
    <div class="parlex9-back">
        <div class="w-container">

            <div>
                <div class="fotter-text"><p class="fotter-quote">“ TEST DE APTITUDES DIFERENCIALES DAT-5”</p>

                    <p class="copyright-area">©2015 PSICOLOGIA. ALL RIGHTS RESERVED, EMI&nbsp;<a
                            href="https://carinotech.com" title="Carino Technologies" target="_blank">ING. DE
                        SISTEMAS</a></p></div>
            </div>
        </div>
    </div>
</div>

<!--///////////////////////////////////////////////////////
// End Footer section
//////////////////////////////////////////////////////////-->