<ng-include src="'views/includes/public_menu.html'"></ng-include>
<div id="portfolio">
  <div class="service-parlex">
    <div class="portfolio-parallax-back-11">
      <div class="container">
        <div class="col-sm-6">
          <h1>Evaluaciones DAT<span class="separatorVertical"> | </span>EMI </h1>

          <p>Te presentamos una completísima recopilación de test de personalidad, de carácter y diagnósticos que te
            permitirán
            conocerte mejor y te ayudarán a evaluar tus aptitudes universitarios.
            <br/>
            Aptitudes  y  Rasgos  de  Personalidad:  habilidades  o
            capacidades  que  el  individuo  debe  poseer.
            <br/>
            Inteligencia,  Aptitud  Verbal,  Aptitud  Numérica,  Aptitud  Para  las Relaciones  Espaciales,  Capacidad 
            de  Análisis,  Capacidad  de
            Síntesis,  Aptitud  Mecánica,  Razonamiento  Abstracto.
          </p>
        </div>
        <div class="col-sm-6">
          <img ng-src="images/emi-forms-2.png" width="100%">
        </div>
      </div>
    </div>
  </div>

  <div class="service-parlex">
    <div class="portfolio-parallax-back-2">
      <div class="container text-center">
        <h2>SERVICIOS</h2>
        <br>

        <p>Las evaluaciones  mide  aspectos  que  no
          pueden  ser  evaluados  de  forma  directa  (capacidades,  rasgos,
          sentimientos)  y  poseen   un  valor  de  diagnóstico  y  predicción.
        </p>
        <br>
        <div class="separator"></div>
        <p>Por lo que te presentamos servicios mas directos</p>
        <br>
        <br>

        <div class="row">
          <div class="col-sm-3">
            <div class="card-present yellow">
              <section class="card header">
                <h4>ÁREA TÉCNICA</h4>

                <p>Entrevista Psicologica</p>
              </section>
              <section class="card content">
                <p>
                  <br>Factor  que  más  influye  en  la  decisión  final
                  <br>
                  <br> Dirigida  por  el  psicólogo
                  con  gran  habilidad  y  tacto
                  <br>
                  <br/>
                </p>
              </section>
              <section class="card footer">

              </section>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="card-present red">
              <section class="card header">
                <h4>ÁREA EDUCATIVA</h4>

                <p>Orientación Educativa</p>
              </section>
              <section class="card content">
                <p>
                  <br>Atención en temáticas psicoeducativas
                  <br>
                  <br>servicio de orientación vocacional
                  <br>
                  <br>Ofrece conferencias y talleres de estrategias de estudio, estilos de aprendizaje y habilidades
                  cognitivas
                  <br>
                </p>
              </section>
              <section class="card footer">

              </section>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="card-present green">
              <section class="card header">
                <h4>AREA SOCIAL</h4>

                <p>Psicología Social</p>
              </section>
              <section class="card content">
                <p>
                  <br>Crecimiento personal
                  <br>
                  <br>Desempeño, capacitación y desarrollo personal
                  <br>
                  <br>Trabajo en equipo
                  <br>
                </p>
              </section>
              <section class="card footer">

              </section>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="service-parlex">
    <div class="portfolio-parallax-back-3">
      <div class="container">
        <div class="col-sm-8">
          <h2>Test | Comienza a realizar las evaluaciones</h2>

          <p>Puedes empezar a registrarte y continuar con las evaluaciones que te brindamos.&nbsp;</p>
        </div>
        <div class="col-sm-4 pT40 text-center">
          <a href="#{{currentUser?'/Generar':'/Registro'}}" class="button-init">{{currentUser?(currentUser.username+', Comienza ahora!'):'Comenzar!'}}</a>
        </div>
      </div>
    </div>
  </div>

  <div class="service-parlex">
    <div class="portfolio-parallax-back-4">
      <div class="container text-center">
        <h2>PRECISIÓN Y FIABILIDAD</h2>
        <br>

        <p>
          El sistema le autoriza a utilizar los tests que necesite.
        </p>
        <br>

        <div class="separator"></div>
        <br>
        <br>

        <p>
          Le proporciona al estudiante únicamente realizar la prueba o pruebas una vez.<br>
          Todos los tests incluidos han sido validados y cuentan con los requisitos psicométricos exigibles.
        </p>
        <br>

        <div class="row">
          <div class="col-sm-4">
            <figure class="content-representant">
              <img class="image-representant" src="images/portfolio/analytics.png" width="100%">

              <p>Obten resultados, estadisticos de los test y cuestionarios</p>
            </figure>
          </div>
          <div class="col-sm-4">
            <figure class="content-representant">
              <img class="image-representant" src="images/portfolio/calendar.png" width="100%">

              <p>Programa un cuestionario y test para una fecha</p>
            </figure>
          </div>
          <div class="col-sm-4">
            <figure class="content-representant">
              <img class="image-representant" src="images/portfolio/neutron.png" width="100%">

              <p>Incrementa el uso de la memoria</p>
            </figure>
          </div>
          <div class="clearfix"></div>
          <div class="col-sm-4">
            <figure class="content-representant">
              <img class="image-representant" src="images/portfolio/mente.png" width="100%">

              <p>Incentiva el razonamiento</p>
            </figure>
          </div>

          <div class="col-sm-4">
            <figure class="content-representant">
              <img class="image-representant" src="images/portfolio/time.png" width="100%">

              <p>Controla el tiempo de los cuestionarios y test</p>
            </figure>
          </div>

          <div class="col-sm-4">
            <figure class="content-representant">
              <img class="image-representant" src="images/portfolio/test.png" width="100%">

              <p>Genera cuestionarios y test personalizados</p>
            </figure>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
